.wrapper {
  display: flex;
  min-height: 100vh;
  background: #000;
}

/* LEFT */
.formSection {
  width: 40%;
  padding: 80px;
  background: #0b0b0b;
  color: white;
}

.formSection h2 {
  font-size: 36px;
  margin-bottom: 10px;
}

.formSection p {
  color: #999;
  margin-bottom: 40px;
}

.error {
  color: #ff4444;
  margin-bottom: 20px;
  text-align: center;
  padding: 10px;
  border-radius: 8px;
  background: rgba(255, 68, 68, 0.1);
  border: 1px solid rgba(255, 68, 68, 0.2);
}

.form {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.form input {
  width: 100%;
  height: 52px;
  border-radius: 12px;
  border: 1px solid #222;
  background: #111;
  padding: 0 16px;
  color: white;
}

/* PASSWORD FIELD */
.passwordField {
  position: relative;
}

.passwordField input {
  padding-right: 48px;
}

.passwordField span {
  position: absolute;
  right: 14px;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
  color: #aaa;
}

.passwordField span:hover {
  color: white;
}

.submitBtn {
  margin-top: 20px;
  width: 100%;
  height: 52px;
  border-radius: 14px;
  background: white;
  color: black;
  font-weight: 700;
  cursor: pointer;
}

.terms {
  display: flex;
  align-items: center;
  gap: 10px;
  font-size: 14px;
  color: #999;
}

.terms input {
  width: auto;
}

.terms a {
  color: #fff;
}

.loginLink {
  text-align: center;
  margin-top: 20px;
  color: #999;
}

.loginLink a {
  color: #fff;
  font-weight: 700;
}

/* RIGHT */
.heroSection {
  width: 50%;
  position: relative;
  background: url("https://lh3.googleusercontent.com/aida-public/AB6AXuBxgVEbGVeqyT4InaRZTW8a8yUWhl7wGMy8G-kHcICJUf_wAjE90kv8nv8TbOXfW8RVkjFBgpKzdnieMbvVpmvq9l8D18yqUxmsecVMmBo2GWzqEMmov1lAbTAilJjGGcVS-OOcmjFYmU7WOIg3CVGzHcHzPuHpxr7ewS20Ah6RTZLuBTOCxz1ZvX6EW25W05tbO2AxRJe7zPq6jQ23SPRE9UteIyBczWvEuw2T1uzcMHRqa0fLuMtD5MZL7GCTztBMhf4qcI0V4wEm")
    center / cover no-repeat;
}

.overlay {
  position: absolute;
  inset: 0;
  background: rgba(0, 0, 0, 0.6);
}

.heroContent {
  position: relative;
  z-index: 2;
  padding: 80px;
  color: white;
  margin-top: 12rem;
}

/* MOBILE */
@media (max-width: 1024px) {
  .wrapper {
    flex-direction: column;
  }

  .formSection,
  .heroSection {
    width: 100%;
  }

  .heroSection {
    min-height: 350px;
  }
}
.avatars img {
  width: 44px;
  height: 44px;
  border-radius: 50%;
  margin-left: -10px;
  border: 2px solid black;
}
