:root {
  --font-geist-sans: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
  --font-geist-mono: 'SF Mono', Monaco, Inconsolata, "Roboto Mono", Consolas, "Courier New", monospace;
}

body {
  font-family: var(--font-geist-sans);
  margin: 0 !important;
  padding: 0 !important;
}
